@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-container {
    padding: 0 16px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--tra-parameters);
    position: relative;
  }

  .header-link.current {
    color: var(--minory-violet-color);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--minory-violet-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }

  .header-link:focus {
    color: var(--accent-color);
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .header-mail,
  .header-tel {
    color: var(--text-color);
  }

  .menu-open-btn {
    display: none;
  }

  .hero {
    padding-bottom: 108px;
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    margin-bottom: 40px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal {
    max-width: 408px;
  }

  .features-list {
    column-gap: 24px;
  }

  .features-headers {
    text-align-last: left;
  }

  .features-text {
    width: 356px;
    text-align-last: left;
  }

  .team {
    padding-bottom: 104px;
  }

  .team > .container {
    width: 582px;
  }

  .team-list {
    flex-basis: calc((100% - 24px) / 2);
    row-gap: 64px;
    column-gap: 24px;
  }

  .customers > .container {
    width: 582px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  .footer > .container {
    width: 582px;
  }

  .footer-blocks {
    align-items: flex-start;
  }

  .footer-content {
    margin-bottom: 0;
  }

  .footer-for-tablet {
    display: flex;
    text-align: left;
    gap: 24px;
  }

  .footer-title {
    text-align: left;
  }

  .footer-subscribe {
    max-width: 453px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .subscribe-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
